<!-- Flash Messages -->
<div class="flash-container">

  <% if(success && success.length) { %>
    <div class="flash flash-success" id="flashMessage">
      <i class="fa-solid fa-circle-check"></i>
      <span><%= success %></span>
      <button class="flash-close">&times;</button>
    </div>
  <% } %>

  <% if(error && error.length) { %>
    <div class="flash flash-error" id="flashMessage">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span><%= error %></span>
      <button class="flash-close">&times;</button>
    </div>
  <% } %>

</div>
