<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
            <div class="w-100 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand fw-bold me-3" href="/listings">
                        <img src="https://seeklogo.com/images/A/airbnb-logo-1D03C48906-seeklogo.com.png" alt="Airbnb Logo" style="height: 40px;">
                    </a>
                    <a class="nav-link d-none d-md-block" href="/listings">Explore</a>
                </div>
                <div class="flex-grow-1 d-flex justify-content-center px-2">
                    <form action="/listings/search" method="get" class="d-flex position-relative w-100" role="search">
                        <input class="form-control me-2 search-inp pe-5" 
                        name="query" type="search" 
                        placeholder="Search Destinations" 
                        value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
                        id="searchInput" autocomplete="off" />
            
                        <button class="btn btn-search position-absolute top-50 end-0 translate-middle-y me-2" 
                        type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>Search
                        </button>
                    </form>
                </div>
                <div class="d-flex align-items-center">
                    <a class="nav-link d-none d-md-block" href="/listings/new">Airbnb your home</a>
                    <% if(curruser) { %>
                        <a class="nav-link d-none d-md-block" href="/logout">Log out</a>
                    <% } if(!curruser){ %>
                        <a class="nav-link d-none d-md-block" href="/signup">Sign up</a>
                        <a class="nav-link d-none d-md-block" href="/login">Log in</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>